*{
  cursor: url(./assets/galaxy.png) 2 2, auto;
}


body{
  height: 100vh; /*화면의 100%*/
  background: url(https://images.unsplash.com/photo-1454177697940-c43d9f9a7307?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fHw%3D);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}


.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /*display: flex;로 가로정렬된 div들 세로로 바꿔주기*/
}

.weather-box{
  width: 365px;
  height: 200px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  padding: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.btn-box{
  margin: 1px;
}

.margin-bottom-5{
  margin-bottom: 20px;
}

.opacity-8{
  opacity: 0.8;
}
