body{
  background: url(https://cdn.pixabay.com/photo/2017/05/20/20/22/clouds-2329680_1280.jpg);
  width: 100vh; /*화면의 100%*/
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; /*display: flex;로 가로정렬된 div들 세로로 바꿔주기*/
}

.weather-box{
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  opacity: 0.6;
  padding: 30px;
}